.accordion-button {
  text-transform: capitalize;
}

.card-group {
  display: flex;
  gap: 1em;
  margin-bottom: 1em
}

.contribution-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
}

.contribution {
  border-radius: 1em;
  width: 4em;
  height: 4em;
  align-items: center;
  justify-content: center;
}

.card-title {
  height: 3em;
}

html, #root {
  background-color: var(--bs-gray-100);
  margin: 0;
  padding: 0;
}

table {
  margin-top: 1em;
}

th {
  text-transform: capitalize;
}

